@media screen and (min-width:1200px) {
    .container{
        width: 1170px;
    }
    .nav-center{
        width: 1170px;
    }
    .closer{
        visibility: hidden;
        
}
    .intro{
       font-weight: 800;
       font-size: 60px;
    }
    .hiden{
        visibility: hidden;
    }

    
}
@media screen and ( max-width: 1200px){
    .container{
        width: 720px;

    }
    .hiden{
        visibility: hidden;
        
    }
    .nav-center{
        width: 720px;
    }
    .closer{
        visibility: hidden;
    }

    *{
        font-size: 12px;
    }
    .back img{
        width: 400px;
    }
    .intro{
        font-weight: 800;
        font-size: 60px;
    }
    .content1,.bigOne,.first_b,.left-side,.right-side,.second_b,.bigTwo,.third_b{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    
}
@media screen and ( max-width: 800px){
    .container{
        width: 575px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    *{
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
    }
    img{
        width: 100%;
    }
    .intro{
        margin: 0 auto;
        text-align: center;
    }
    
    .nav-center{
     width: 520px;
    }
    .back{
        visibility: hidden;
    }

    .nav-center-menu{
        flex-direction: column;
        visibility: hidden;
    }
    .closer{
        visibility: visible;
        z-index: 3;
    }
    .fon{
        width: 100%;
        height: 100%;
    }
}

    
